<!DOCTYPE html>
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<title>GDPR | FemmeVenture</title>

{% include 'nav.html' %}

<html>


    <head> 

      <style> 
         
        
       
     
 
       
     </style> 
 
     </head> 
     <!-- end header section -->
     <!-- slider section -->
 
     <section class="slider_section">
       <div class="slider_container">
           <div class="carousel-inner">
               <div class="container-fluid">
                 
                   
                     <div class="detail-box">
                       
                     <div class="listen">
 
                       <div class="content-container">
 
                         <h1>
                           GDPR Privacy Policy <br>
                           
                         </h1>
 
                      
                       
                         
                       </div>
 
                     <h4> <br>
                     
                         Team66, involved in the "Team Project 2023-24" module at the University of Birmingham Dubai, has created this privacy 
                         policy to outline how we manage and use the personal data gathered from users visiting our website.</h4>
 
                         <br> 
 
                         <h2> <b> Topics:       </b> </h2>  <br>
 
                     <h6>
 
                         What data do we collect? <br> <br>
                         
                         How do we collect your data? <br> <br>
                         
                         How will we use your data? <br> <br>
                         
                         How do we store your data? <br> <br>
                         
                         Marketing <br> <br>
                         
                         What are your data protection rights? <br> <br>
                         
                         What are cookies?<br> <br>
                         
                         How do we use cookies? <br> <br>
                         
                         What types of cookies do we use? <br> <br>
                         
                         How to manage your cookies <br> <br>
                         
                         Privacy policies of other websites <br> <br>
                         
                         Changes to our privacy policy <br> <br>
                         
                         How to contact us <br> <br>
                         
                         How to contact the appropriate authorities <br></h6>
              
 
                         <br> <br> 
                         <h3><b>What data do we collect?</b></h3>
 <h6>
     FemmeVenture collects the following data:<br><br>
   </h6>
     <ul>
     <li>Personal identification information (Name, email address, phone number, etc.)</li>
     </ul> 
 
     <br>
 
 
 
 <h3><b>How do we collect your data?</b></h3>
 <h6>
   We directly collect most of the data we collect. We collect data and process data when you:
 </h6>
 <ul>
   <li>Register online or participate in our global forum.</li>
   <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.</li>
   <li>Use or view our website via your browser's cookies.</li>
 </ul>
 
 <br> 
 
 <h3><b>How will we use your data?</b></h3>
 <ul>
     <li>Process your profile customizations for the buddy finder and manage your account.</li>
     <li>Email you with special articles and travel updates related to female solo travel.</li>
     <li>Improve and customize your experience with our website.</li>
     <li>If you agree, FemmeVenture will share your data with trusted partner companies to offer you relevant products and services.</li>
     <li>When FemmeVenture processes your order, it may send your data to, and also use the resulting information from, credit reference agencies to prevent fraudulent purchases.</li>
 </ul>
 <br> 
 
 <h3><b>How do we store your data?</b></h3>
 <h6>
     FemmeVenture securely stores your data and follows best practices for data security.<br><br>
 </h6>
 <br> 
 
 <h3><b>Marketing</b></h3>
 <h6>
     FemmeVenture would like to send you information about new travel updates and safety tips that we think you might like, as well as those of our partner companies. If you have agreed to receive marketing, you may always opt out at a later date.<br><br>
     You have the right at any time to stop FemmeVenture from contacting you for marketing purposes or giving your data to other members of the FemmeVenture Group.<br><br>
 </h6>
 <br> 
 
 <h3><b>What are your data protection rights?</b></h3>
 <ul>
     <li>The right to access: You have the right to request FemmeVenture for copies of your personal data.</li>
     <li>The right to rectification: You have the right to request that FemmeVenture correct any information you believe is inaccurate.</li>
     <li>The right to erasure: You have the right to request that FemmeVenture erase your personal data, under certain conditions.</li>
     <li>The right to restrict processing: You have the right to request that FemmeVenture restrict the processing of your personal data, under certain conditions.</li>
     <li>The right to object to processing: You have the right to object to FemmeVenture's processing of your personal data, under certain conditions.</li>
     <li>The right to data portability: You have the right to request that FemmeVenture transfer the data that we have collected to another organization or directly to you, under certain conditions.</li>
 </ul>
 <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email or mailing address provided in the "How to contact us" section.</p>
 
 <br> 
 
 <h3><b>What are cookies?</b></h3>
 <h6>
     Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information.<br><br>
 </h6>
 <br> 
 
 <h3><b>How do we use cookies?</b></h3>
 <ul>
     <li>Keeping you signed in.</li>
     <li>Understanding how you use our website.</li>
 </ul>
 
 <br> 
 
 <h3><b>What types of cookies do we use?</b></h3>
 <h6>
     Our website uses functionality cookies to recognize you on our website and remember your previously selected preferences. These could include what language you prefer and your location. We also use advertising cookies to collect information about your visit to our website for advertising purposes.<br><br>
 </h6>
 <br> 
 
 <h3><b>How to manage cookies</b></h3>
 <h6>
     You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.<br><br>
 </h6>
 <br> 
 
 <h3><b>Privacy policies of other websites</b></h3>
 <h6>
     The FemmeVenture website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.<br><br>
 </h6>
 <br> 
 
 <h3><b>Changes to our privacy policy</b></h3>
 <h6>
     FemmeVenture keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 15/03/2024.<br><br>
 </h6>
 <br> 
 
 <h3><b>How to contact us</b></h3>
 <h6>
     If you have any questions about FemmeVenture's privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us via email, phone, or mail.<br><br>
     Aaliyah Sacoor – <br>
     axs2105@student.bham.ac.uk<br>
     <br>
     Kenzy Khalifah - <br>
     kxk300@student.bham.ac.uk<br>
     <br>
     Krishnasree Kelath - <br>
     kxk224@student.bham.ac.uk<br>
      <br>
      Mariam Lulu Mohammed - <br>
     Mxm1399@student.bham.ac.uk<br>
    <br>
    Ashitha Hiregoudra - <br>
     axh1342@student.bham.ac.uk<br>
     <br>
     Suhayl Dastager – <br>
     msd116@student.bham.ac.uk<br>
     <br>
     Layan Abdulhadi – <br>
     lxa243@student.bham.ac.uk<br>
     <br>
 </h6>
 <br> 
 
 <h3><b>How to contact the appropriate authority</b></h3>
 <h6>
     Should you wish to report a complaint or if you feel that FemmeVenture has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner's Office via email or mail.<br><br>
 </h6>
 
                   </div>
             
                     </div>
                     
 
                  </div>
                   
                   </div>
             
             
 
 
         
 
         
         </div>
       </div>
 
       
     </section>
 
     <!-- end slider section -->
   </div>
   <!-- end hero area -->
 
   <!-- shop section -->
 
   
   
 <br> 
   {% include 'footer.html' %}

  
 
 </body>
 
 </html>
 
 
 

{% else %}
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
  <!-- Basic meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

  <title>FemmeVenture</title>

  <!-- External CSS libraries -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />

  <!-- Responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head> 

<body>
  <div class="hero_area">
    <!-- header section strats -->
    
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href={%url 'index'%}>
          <span>
            FemmeVenture
          </span>
        </a>
      </nav> 
    </header> 

    <head> 

     <style> 
        
       
      
    

      .slider_section .slider_container {
        color: #fefefe;
        background-color: #000000;
        background-color: #220440;
        padding: 25px;
        border-radius: 15px 15px 15px 15px;
      }
    </style> 

    </head> 
    <!-- end header section -->
    <!-- slider section -->

    <section class="slider_section">
      <div class="slider_container">
          <div class="carousel-inner">
              <div class="container-fluid">
                
                  
                    <div class="detail-box">
                      
                    <div class="listen">

                      <div class="content-container">

                        <h1>
                          GDPR Privacy Policy <br>
                          
                        </h1>

                     
                      
                        
                      </div>

                    <h4> <br>
                    
                        Team66, involved in the "Team Project 2023-24" module at the University of Birmingham Dubai, has created this privacy 
                        policy to outline how we manage and use the personal data gathered from users visiting our website.</h4>

                        <br> 

                        <h2> <b> Topics:       </b> </h2>  <br>

                    <h6>

                        What data do we collect? <br> <br>
                        
                        How do we collect your data? <br> <br>
                        
                        How will we use your data? <br> <br>
                        
                        How do we store your data? <br> <br>
                        
                        Marketing <br> <br>
                        
                        What are your data protection rights? <br> <br>
                        
                        What are cookies?<br> <br>
                        
                        How do we use cookies? <br> <br>
                        
                        What types of cookies do we use? <br> <br>
                        
                        How to manage your cookies <br> <br>
                        
                        Privacy policies of other websites <br> <br>
                        
                        Changes to our privacy policy <br> <br>
                        
                        How to contact us <br> <br>
                        
                        How to contact the appropriate authorities <br></h6>
             

                        <br> <br> 
                        <h3><b>What data do we collect?</b></h3>
<h6>
    FemmeVenture collects the following data:<br><br>
  </h6>
    <ul>
    <li>Personal identification information (Name, email address, phone number, etc.)</li>
    </ul> 

    <br>



<h3><b>How do we collect your data?</b></h3>
<h6>
  We directly collect most of the data we collect. We collect data and process data when you:
</h6>
<ul>
  <li>Register online or participate in our global forum.</li>
  <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.</li>
  <li>Use or view our website via your browser's cookies.</li>
</ul>

<br> 

<h3><b>How will we use your data?</b></h3>
<ul>
    <li>Process your profile customizations for the buddy finder and manage your account.</li>
    <li>Email you with special articles and travel updates related to female solo travel.</li>
    <li>Improve and customize your experience with our website.</li>
    <li>If you agree, FemmeVenture will share your data with trusted partner companies to offer you relevant products and services.</li>
    <li>When FemmeVenture processes your order, it may send your data to, and also use the resulting information from, credit reference agencies to prevent fraudulent purchases.</li>
</ul>
<br> 

<h3><b>How do we store your data?</b></h3>
<h6>
    FemmeVenture securely stores your data and follows best practices for data security.<br><br>
</h6>
<br> 

<h3><b>Marketing</b></h3>
<h6>
    FemmeVenture would like to send you information about new travel updates and safety tips that we think you might like, as well as those of our partner companies. If you have agreed to receive marketing, you may always opt out at a later date.<br><br>
    You have the right at any time to stop FemmeVenture from contacting you for marketing purposes or giving your data to other members of the FemmeVenture Group.<br><br>
</h6>
<br> 

<h3><b>What are your data protection rights?</b></h3>
<ul>
    <li>The right to access: You have the right to request FemmeVenture for copies of your personal data.</li>
    <li>The right to rectification: You have the right to request that FemmeVenture correct any information you believe is inaccurate.</li>
    <li>The right to erasure: You have the right to request that FemmeVenture erase your personal data, under certain conditions.</li>
    <li>The right to restrict processing: You have the right to request that FemmeVenture restrict the processing of your personal data, under certain conditions.</li>
    <li>The right to object to processing: You have the right to object to FemmeVenture's processing of your personal data, under certain conditions.</li>
    <li>The right to data portability: You have the right to request that FemmeVenture transfer the data that we have collected to another organization or directly to you, under certain conditions.</li>
</ul>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email or mailing address provided in the "How to contact us" section.</p>

<br> 

<h3><b>What are cookies?</b></h3>
<h6>
    Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information.<br><br>
</h6>
<br> 

<h3><b>How do we use cookies?</b></h3>
<ul>
    <li>Keeping you signed in.</li>
    <li>Understanding how you use our website.</li>
</ul>

<br> 

<h3><b>What types of cookies do we use?</b></h3>
<h6>
    Our website uses functionality cookies to recognize you on our website and remember your previously selected preferences. These could include what language you prefer and your location. We also use advertising cookies to collect information about your visit to our website for advertising purposes.<br><br>
</h6>
<br> 

<h3><b>How to manage cookies</b></h3>
<h6>
    You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.<br><br>
</h6>
<br> 

<h3><b>Privacy policies of other websites</b></h3>
<h6>
    The FemmeVenture website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.<br><br>
</h6>
<br> 

<h3><b>Changes to our privacy policy</b></h3>
<h6>
    FemmeVenture keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 15/03/2024.<br><br>
</h6>
<br> 

<h3><b>How to contact us</b></h3>
<h6>
    If you have any questions about FemmeVenture's privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us via email, phone, or mail.<br><br>
    Aaliyah Sacoor – <br>
    axs2105@student.bham.ac.uk<br>
    <br>
    Kenzy Khalifah - <br>
    kxk300@student.bham.ac.uk<br>
    <br>
    Krishnasree Kelath - <br>
    kxk224@student.bham.ac.uk<br>
     <br>
     Mariam Lulu Mohammed - <br>
    Mxm1399@student.bham.ac.uk<br>
   <br>
   Ashitha Hiregoudra - <br>
    axh1342@student.bham.ac.uk<br>
    <br>
    Suhayl Dastager – <br>
    msd116@student.bham.ac.uk<br>
    <br>
    Layan Abdulhadi – <br>
    lxa243@student.bham.ac.uk<br>
    <br>
</h6>
<br> 

<h3><b>How to contact the appropriate authority</b></h3>
<h6>
    Should you wish to report a complaint or if you feel that FemmeVenture has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner's Office via email or mail.<br><br>
</h6>

                  </div>
            
                    </div>
                    

                 </div>
                  
                  </div>
            
            


        

        
        </div>
      </div>

      
    </section>

    <!-- end slider section -->
  </div>
  <!-- end hero area -->

  <!-- shop section -->

  
  
<br> 
  {% include 'footer.html' %}

</body>

</html>

{% endif %}
{% endblock %}







